<div class="container">

 <h1>登陆</h1>
 <form class="form-horizontal" action="/sessions?ID=admin" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="" /><input type="hidden" name="authenticity_token" value="o39wJuZG632vwPF5Wg/j8qQbwXXHAscPVEAX6J2cYcahKQA41u9+F+Pmy3duL/o7FL/0Fnds9LDBrTkbtEXzHA==" />

    <div class="form-group">
      <div class="col-lg-12">邮箱或者手机号</div>
      <div class="col-lg-12">
        <input type="text" name="email" id="email" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-12">密码</div>
      <div class="col-lg-12">
        <input type="password" name="password" id="password" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-12">
        <div class="pull-right">
          <a href="/users/new">注册</a>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-12">
        <input type="submit" name="sign_submit" value="登陆" class="col-xs-12 btn btn-primary">
      </div>
    </div>

  </form>
</div>
