<nav class="navbar navbar-default">
<div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin">管理平台</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/admin">Home </a></li>
        <li><a href="/admin/categories">分类</a></li>
        <li><a href="/admin/products">商品</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a rel="nofollow" data-method="delete" href="/logout">退出</a></li>
      </ul>
    </div>
 </div>
</nav>
